<h1>Charity name</h1>
<form class="" action="/charities" method="post">
  <label for="">Title</label>
  <input type="text" name="" value="">
  <button type="submit" name="button">Search</button>
</form>
