<h1>Example App: Home</h1>
<form class="" action="/charities" method="post">
  <label for=""></label>
  <input type="text" name="" value="">
  <button type="submit" name="button">Search</button>
</form>
